<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    <h1 class="text-center alert alert-danger">
        Oops! - 404
    </h1>
    <h3 class="col col-md-12 text-center">
        {{message}}
        <br />
    </h3>
    <h3 class="col col-md-12 text-center">
        An error has ocurred. Please go back to the main page
    </h3>
    <br />
    <div class="text-center col col-md-12">
        <a href="/videos" class="btn btn-outline-dark">Back to home</a>
    </div>
</body>

</html>