.alert-danger{
    background-color: #dc3545;
    color: #ffffff;
}

.title-video{
   position: fixed; 
   width: 100%;
   z-index: 99999;
}

footer {
    position: relative;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 50px;
    background-color: #dc3545;
    color: #ffffff;
}